body {
    font-family: "Georgia", serif;
    background-color: #1032ca;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9cc3e2;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    gap: 1rem;

}

form {
    font: 1em "Georgia", serif;
    max-width: 320px;
}

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(228, 232, 236);
    max-width: 400px;
    border-radius: 12px;
    padding: 20px;


}

.contact-card input,
.contact-card textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.about-container {
background: #fff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 700px;
  width: 90%;
  margin: 40px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-container section {
    margin-bottom: 1.5rem;
}

.about-container h2 {
    color: #274c77
}

.navigation-bar {
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    gap: 20px; 
    padding: 15px;
}

.about-avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img[data-testid="test-user-avatar"] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    gap: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    flex-direction: column;

}

nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #eff2f5;
    font-weight: bold;
}


a:focus,
a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .profile-card {
        flex-direction: column;
        align-items: center;
    }

    figure {
        flex: 1;
    }

    .profile-card > p,
    nav,
    section {
        flex: 2;
    }
}




